# Ignore everything
*

# But not these files...
!benny_hill.mp3
!*.ui
!.gitignore
!.gitattributes
!*.py
!Classes/
!SR830_gui/
!raman_mapping/
!Starter.ui
# etc...

# ...even if they are in subdirectories
# !*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*
